WCF_Client/Connected Services/ServiceReference1/GeriSayimService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGeri_Sayimlar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Geri_Sayimlar" nillable="true" type="tns:Geri_Sayimlar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeri_Sayimlar" nillable="true" type="tns:ArrayOfGeri_Sayimlar" />
  <xs:complexType name="Geri_Sayimlar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Geri_Sayimlar" nillable="true" type="tns:Geri_Sayimlar" />
</xs:schema>